{% load static %}
  <aside class="main-sidebar sidebar-light-primary elevation-4"  style="border-radius: 20px;">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
     
      <span class="brand-text font-weight-light">Student Portal</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">{{user.username }}</a>
        </div>
      </div>
 
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'student_home' as student_home %}
            <a href="{{ student_home }}" class="nav-link {% if request.path == student_home %} active {% endif %}">
            <i class="fas fa-chevron-circle-right"></i>
              <p>
                Home
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>